Repository piwi3910/nebulaio: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, eslint, typescript-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# Install: pip install pre-commit && pre-commit install

repos:
  # Go linting with golangci-lint
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.1.6
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        # Only exclude test fixtures (.golden), markdownlint handles .md files
        exclude: ^(.*\.golden)$
      - id: end-of-file-fixer
        exclude: ^(.*\.golden)$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: mixed-line-ending
        args: [--fix=lf]

  # Go-specific checks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        files: \.go$

      - id: go-mod-tidy
        name: go mod tidy
        # Run on any .go file change to ensure dependencies are up-to-date
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        files: \.go$
        pass_filenames: false

      # Web/Frontend checks (requires Node.js and npm dependencies)
      - id: eslint
        name: ESLint (web)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type check (web)
        entry: bash -c 'cd web && npm run type-check'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

[DevEx] Fix pre-commit hooks based on code review
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

[Test] Add missing multipart upload error injection setters
  internal/testutil/mocks/metadata_store.go
Due: go-fmt, go-mod-tidy

[DevEx] Fix pre-commit to use markdownlint-cli2 (match CI)
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

[DevEx] Add pre-commit hooks for local linting
  .markdownlint.json
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
Due: none

[Test] Complete PR review recommendations for testutil mocks
  internal/testutil/mocks/metadata_store.go
  internal/testutil/mocks/mocks_test.go
  internal/testutil/mocks/storage_backend.go
Due: go-fmt, go-mod-tidy

[Docs] Fix documentation issues (#83, #66, #51, #50, #49)
  deployments/helm/nebulaio/values.yaml
  deployments/kubernetes/base/configmap.yaml
  docker-compose.production.yml
  docker-compose.yml
  docs/architecture/overview.md
  docs/deployment/docker.md
  docs/deployment/rate-limiting.md
  docs/getting-started/configuration.md
  internal/api/admin/handler.go
  internal/api/console/handler.go
  internal/api/s3/handler.go
  internal/audit/logger.go
  internal/auth/ldap/client.go
  internal/auth/oidc/provider.go
  internal/auth/service.go
  internal/bucket/service.go
  internal/cluster/discovery.go
  internal/config/config.go
  internal/events/emitter.go
  internal/health/health.go
  internal/kms/local/provider.go
  internal/kms/provider.go
  internal/kms/vault/provider.go
  internal/lifecycle/manager.go
  internal/metadata/store.go
  internal/metrics/metrics.go
  internal/object/service.go
  internal/policy/policy.go
  internal/replication/site/manager.go
  internal/server/server.go
  internal/storage/backend/backend.go
  internal/storage/compression/compression.go
  internal/storage/erasure/backend.go
  internal/storage/fs/fs.go
  internal/tiering/service.go
  internal/versioning/service.go
Due: go-fmt, go-mod-tidy

[Docs] Address PR review feedback for documentation changes
  deployments/helm/nebulaio/templates/configmap.yaml
  docs/deployment/rate-limiting.md
  docs/getting-started/configuration.md
Due: none

[Docs] Address PR observations and suggestions
  docs/architecture/overview.md
  docs/deployment/rate-limiting.md
  docs/getting-started/configuration.md
Due: none

[Docs] Make documentation URL configurable
  web/src/pages/SecurityFeaturesPage.tsx
Due: eslint, typescript-check

[Docs] Address additional PR review feedback
  deployments/helm/nebulaio/templates/configmap.yaml
  web/src/pages/SecurityFeaturesPage.tsx
Due: eslint, typescript-check

[Docs] Address PR areas for improvement
  docs/architecture/overview.md
  docs/deployment/rate-limiting.md
  docs/getting-started/configuration.md
Due: none

[Docs] Fix markdown lint error in configuration.md
  docs/getting-started/configuration.md
Due: none

[Test] Use MultipartUploadKey helper consistently in storage_backend.go
  internal/testutil/mocks/storage_backend.go
Due: go-fmt, go-mod-tidy

[Test] Add comprehensive unit tests for SecurityFeaturesPage
  web/src/pages/SecurityFeaturesPage.test.tsx
Due: eslint, typescript-check

[Docs] Fix all markdown lint errors in capacity-planning.md
  docs/architecture/capacity-planning.md
Due: none

[Docs] Add algorithm-specific compression levels and expand benchmark methodology
  docs/architecture/overview.md
  docs/features/compression.md
Due: none

[Docs] Fix markdown table formatting for MD060 lint rule
  docs/architecture/overview.md
  docs/deployment/docker.md
  docs/deployment/rate-limiting.md
  docs/features/compression.md
  docs/getting-started/configuration.md
Due: none

[Test] Final improvements for testutil mocks
  internal/testutil/mocks/metadata_store.go
  internal/testutil/mocks/mocks_test.go
Due: go-fmt, go-mod-tidy

[Docs] Add testing standards to CLAUDE.md
  CLAUDE.md
Due: none

[Docs] Add comprehensive development guidelines to CLAUDE.md
  CLAUDE.md
Due: none

[Test] Fix method name in MockEventTarget test
  internal/testutil/mocks/mocks_test.go
Due: go-fmt, go-mod-tidy

[Fix] Correct type mismatch in ListAuditEvents mock
  internal/testutil/mocks/metadata_store.go
Due: go-fmt, go-mod-tidy

[Test] Add missing error injection and implement stub methods
  internal/testutil/mocks/metadata_store.go
Due: go-fmt, go-mod-tidy

[Test] Add test coverage for new error injection methods
  internal/testutil/mocks/mocks_test.go
Due: go-fmt, go-mod-tidy

[Security][Fix] Security and critical bug fixes
  internal/audit/enhanced.go
  internal/auth/oidc/provider.go
  internal/events/targets/webhook.go
  internal/hardware/detector.go
Due: go-fmt, go-mod-tidy

[Test] Add Reset() and helper methods for improved test setup
  internal/testutil/mocks/metadata_store.go
  internal/testutil/mocks/mocks_test.go
  internal/testutil/mocks/storage_backend.go
Due: go-fmt, go-mod-tidy

[Test] Final improvements for testutil mocks
  internal/testutil/mocks/metadata_store.go
  internal/testutil/mocks/mocks_test.go
  internal/testutil/mocks/services.go
Due: go-fmt, go-mod-tidy

[Test] Add comprehensive tests for security and bug fixes
  internal/audit/enhanced_test_rotation.go
  internal/auth/oidc/security_test.go
  internal/events/targets/webhook_test.go
  internal/hardware/detector_test.go
Due: go-fmt, go-mod-tidy

[Test] Reset cluster state in MockMetadataStore.Reset()
  internal/testutil/mocks/metadata_store.go
  internal/testutil/mocks/mocks_test.go
Due: go-fmt, go-mod-tidy

[Test] Improve audit rotation tests per code review
  internal/audit/enhanced_test_rotation.go
Due: go-fmt, go-mod-tidy

[Test] Fix misleading comment for GetParts method
  internal/testutil/mocks/metadata_store.go
Due: go-fmt, go-mod-tidy

Fix issue 101 (#102)
  internal/bucket/service_test.go
  internal/health/health_test.go
  internal/testutil/mocks/metadata_store.go
  internal/testutil/mocks/mocks_test.go
  internal/testutil/mocks/services.go
  internal/testutil/mocks/storage_backend.go
  internal/testutil/testutil.go
Due: go-fmt, go-mod-tidy

[Security][Fix] Security and critical bug fixes
  internal/audit/enhanced.go
  internal/audit/enhanced_test_rotation.go
  internal/auth/oidc/provider.go
  internal/auth/oidc/security_test.go
  internal/events/targets/webhook.go
  internal/events/targets/webhook_test.go
  internal/hardware/detector.go
  internal/hardware/detector_test.go
Due: go-fmt, go-mod-tidy

[Fix] Add context cancellation to EncodeStream and document audit goroutine
  internal/audit/enhanced.go
  internal/storage/erasure/encoder.go
  internal/storage/erasure/encoder_test.go
Due: go-fmt, go-mod-tidy

[Fix] Address code review recommendations for PR #111
  internal/storage/erasure/encoder.go
  internal/storage/erasure/encoder_test.go
Due: go-fmt, go-mod-tidy
