Repository piwi3910/nebulaio: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, eslint, typescript-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# Install: pip install pre-commit && pre-commit install

repos:
  # Go linting with golangci-lint
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.1.6
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        # Only exclude test fixtures (.golden), markdownlint handles .md files
        exclude: ^(.*\.golden)$
      - id: end-of-file-fixer
        exclude: ^(.*\.golden)$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: mixed-line-ending
        args: [--fix=lf]

  # Go-specific checks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        files: \.go$

      - id: go-mod-tidy
        name: go mod tidy
        # Run on any .go file change to ensure dependencies are up-to-date
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        files: \.go$
        pass_filenames: false

      # Web/Frontend checks (requires Node.js and npm dependencies)
      - id: eslint
        name: ESLint (web)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type check (web)
        entry: bash -c 'cd web && npm run type-check'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

[Fix #95] Fix test type errors: pass histogram vec instead of observer
  internal/lambda/object_lambda_test.go
Due: go-fmt, go-mod-tidy

[Fix #95] Extract 'auto' as constant to satisfy goconst linter
  internal/lambda/object_lambda.go
Due: go-fmt, go-mod-tidy

[Fix #79] Fix DDoS test logic - test 256 unique IPs
  internal/api/middleware/ratelimit_security_test.go
Due: go-fmt, go-mod-tidy

Migrate tests to testify and document magic number
  internal/catalog/parquet.go
  internal/catalog/parquet_test.go
Due: go-fmt, go-mod-tidy

[Fix #91] Fix type assertion safety and LRU cache race condition
  internal/lambda/wasm_runtime.go
Due: go-fmt, go-mod-tidy

[Fix #97] Fix presigned URL canonical URI for path-style URLs
  internal/auth/presigned.go
Due: go-fmt, go-mod-tidy

Fix testifylint: use assert.Positive instead of assert.Greater
  internal/catalog/parquet_test.go
Due: go-fmt, go-mod-tidy

[Fix #59] Address PR review security issues and add tests
  internal/api/admin/openapi_handler.go
  internal/api/admin/openapi_handler_test.go
  web/src/pages/ApiExplorerPage.tsx
Due: go-fmt, go-mod-tidy, eslint, typescript-check

[Feature #59] Add Swagger/OpenAPI documentation and API Explorer
  internal/api/admin/openapi.yaml
  internal/api/admin/openapi_embed.go
  internal/api/admin/openapi_handler.go
  internal/server/server.go
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/api/client.ts
  web/src/components/DashboardLayout.tsx
  web/src/pages/ApiExplorerPage.tsx
Due: go-fmt, go-mod-tidy, eslint, typescript-check

[Fix #59] Remove unknown 'modernize' linter from golangci-lint config
  .golangci.yml
Due: none

[Docs #59] Add API Explorer documentation and deployment configs
  deployments/helm/nebulaio/values.yaml
  docker-compose.yml
  docs/features/api-explorer.md
Due: none

[Fix #59] Address review feedback: magic numbers and error handling
  internal/api/admin/openapi_handler.go
  web/src/pages/ApiExplorerPage.tsx
Due: go-fmt, go-mod-tidy, eslint, typescript-check

[Fix #91] Fix LRU cache edge case and context handling in eviction
  internal/lambda/wasm_runtime.go
Due: go-fmt, go-mod-tidy

[Fix #59] Address PR review feedback
  internal/api/admin/openapi_handler.go
  internal/metrics/metrics.go
  web/src/pages/ApiExplorerPage.tsx
Due: go-fmt, go-mod-tidy, eslint, typescript-check

[Fix #94] Add benchmarks and documentation for streaming compression
  docs/features/compression.md
  docs/getting-started/configuration.md
  internal/lambda/object_lambda_test.go
Due: go-fmt, go-mod-tidy

[Fix] Fix streaming decompression test to prevent nil pointer dereference
  internal/lambda/object_lambda_test.go
Due: go-fmt, go-mod-tidy

[Fix] Remove non-existent 'modernize' linter from golangci-lint config
  .golangci.yml
Due: none

[Fix #94] Fix lint errors - use Go 1.22+ integer range syntax
  internal/lambda/object_lambda_test.go
Due: go-fmt, go-mod-tidy

[Fix #94] Add comprehensive tests for streaming compression support
  internal/lambda/object_lambda_test.go
Due: go-fmt, go-mod-tidy

[Fix] Remove redundant enable section from golangci-lint config
  .golangci.yml
Due: none

[Fix] Fix formatSize function to handle multi-digit sizes correctly
  internal/lambda/object_lambda_test.go
Due: go-fmt, go-mod-tidy

[Fix] Restore correct golangci-lint v2 config structure
  .golangci.yml
Due: none

[Fix] Disable gomodernize linter - not critical for current codebase
  .golangci.yml
Due: none

[Fix] Restructure golangci-lint v2 config - move exclusions to issues section
  .golangci.yml
Due: none

[Fix] Fix YAML indentation in golangci-lint exclusion rules
  .golangci.yml
Due: none

[Fix] Remove non-existent 'modernize' linter from disabled list
  .golangci.yml
Due: none

[Fix] Apply modernize linter suggestions across codebase
  internal/ai/prompt_object.go
  internal/api/middleware/cors.go
  internal/api/s3/handler.go
  internal/api/s3/handler_extended.go
  internal/audit/enhanced_test.go
  internal/auth/ldap/client.go
  internal/auth/password_test.go
  internal/backup/pitr.go
Due: go-fmt, go-mod-tidy

[Fix] Apply additional modernize linter suggestions
  internal/api/middleware/ratelimit.go
  internal/api/s3/handler.go
  internal/auth/password_test.go
  internal/backup/pitr.go
  internal/benchmark/benchmark_test.go
  internal/dlp/dlp.go
Due: go-fmt, go-mod-tidy

[Fix] Apply more modernize linter suggestions
  internal/api/admin/handler.go
  internal/auth/ldap/config.go
  internal/benchmark/benchmark_test.go
  internal/gpudirect/gpudirect.go
  internal/iceberg/catalog.go
  internal/integration/features_test.go
Due: go-fmt, go-mod-tidy

[Fix] Apply final batch of modernize linter suggestions
  internal/ai/prompt_object.go
  internal/audit/logger.go
  internal/auth/service.go
  internal/benchmark/benchmark_test.go
  internal/dpu/bluefield.go
  internal/gpudirect/gpudirect.go
Due: go-fmt, go-mod-tidy

[Fix] Apply remaining modernize linter suggestions
  internal/api/admin/cluster.go
  internal/api/middleware/ratelimit.go
  internal/benchmark/benchmark_test.go
  internal/dlp/dlp.go
Due: go-fmt, go-mod-tidy

[Fix] Apply another batch of modernize linter suggestions
  internal/api/middleware/cors.go
  internal/auth/ldap/config.go
  internal/benchmark/benchmark_test.go
  internal/mcp/server_test.go
  internal/metadata/dragonboat_fsm.go
  internal/migration/s3_import.go
Due: go-fmt, go-mod-tidy

[Fix] Apply modernize linter fixes for Go 1.22+ patterns
  internal/api/middleware/ratelimit.go
  internal/auth/ldap/config.go
  internal/auth/oidc/config.go
  internal/benchmark/benchmark_test.go
  internal/metadata/dragonboat_fsm.go
  internal/migration/s3_import.go
Due: go-fmt, go-mod-tidy

[Fix #97] Fix gofmt formatting in handler_test.go
  internal/api/s3/handler_test.go
Due: go-fmt, go-mod-tidy

[Fix] Apply final modernize linter fixes
  internal/audit/enhanced.go
  internal/firewall/firewall_test.go
  internal/lifecycle/policy.go
  internal/metadata/dragonboat_fsm.go
  internal/migration/s3_import.go
Due: go-fmt, go-mod-tidy

[Fix] Continue applying modernize linter fixes
  internal/audit/enhanced.go
  internal/lifecycle/policy_test.go
  internal/metadata/dragonboat_fsm.go
  internal/metadata/dragonboat_test.go
  internal/metadata/store.go
  internal/object/service.go
Due: go-fmt, go-mod-tidy

[Fix] Continue modernize linter fixes batch 3
  internal/audit/enhanced.go
  internal/metadata/dragonboat_store.go
  internal/metrics/metrics_test.go
  internal/policy/policy.go
Due: go-fmt, go-mod-tidy
