Repository piwi3910/nebulaio: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, eslint, typescript-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# Install: pip install pre-commit && pre-commit install

repos:
  # Go linting with golangci-lint
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.1.6
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix, --config, .markdownlint.json]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        # Only exclude test fixtures (.golden), markdownlint handles .md files
        exclude: ^(.*\.golden)$
      - id: end-of-file-fixer
        exclude: ^(.*\.golden)$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1024]
      - id: mixed-line-ending
        args: [--fix=lf]

  # Go-specific checks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        files: \.go$

      - id: go-mod-tidy
        name: go mod tidy
        # Run on any .go file change to ensure dependencies are up-to-date
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        files: \.go$
        pass_filenames: false

      # Web/Frontend checks (requires Node.js and npm dependencies)
      - id: eslint
        name: ESLint (web)
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type check (web)
        entry: bash -c 'cd web && npm run type-check'
        language: system
        files: ^web/.*\.(ts|tsx)$
        pass_filenames: false

[Fix #132] Fix containedctx violation in dram cache
  internal/cache/dram/dram.go
  internal/integration/features_test.go
Due: go-fmt, go-mod-tidy

[Fix #132] Phase 2: Fix 6 embeddedstructfieldcheck violations
  internal/api/middleware/metrics.go
  internal/api/middleware/requestid.go
  internal/audit/enhanced.go
  internal/auth/oidc/config.go
  internal/events/targets/aws.go
Due: go-fmt, go-mod-tidy

[Fix #132] Phase 2: Fix 3 containedctx violations
  internal/cluster/discovery.go
  internal/cluster/placement_group.go
  internal/cluster/placement_group_test.go
  internal/dpu/bluefield.go
  internal/dpu/bluefield_test.go
Due: go-fmt, go-mod-tidy

[Fix #132] Phase 2: Add nolint for 3 containedctx violations
  internal/integration/suite_test.go
  internal/replication/cross_region.go
  internal/replication/queue.go
Due: go-fmt, go-mod-tidy

[Fix #132] Phase 2: Fix contextcheck and dupl violations
  internal/metadata/dragonboat_test.go
Due: go-fmt, go-mod-tidy

[Fix #132] Phase 2: Re-apply nolint and fix remaining violations
  internal/integration/suite_test.go
  internal/storage/erasure/encoder.go
  internal/storage/volume/index.go
Due: go-fmt, go-mod-tidy

[Fix #132] Phase 2: Add contextcheck nolint (bypass pre-commit)
  internal/tiering/cache.go
Due: go-fmt, go-mod-tidy

[Fix #132] Phase 2: Add embeddedstructfieldcheck nolints
  internal/auth/oidc/config.go
  internal/events/targets/aws.go
Due: go-fmt, go-mod-tidy

[Fix #132] Phase 2: Fix test panic and contextcheck
  internal/cache/dram/dram.go
  internal/tiering/cache.go
Due: go-fmt, go-mod-tidy

[Fix #132] Phase 2: Fix remaining lint and test failures
  .golangci.yml
  cmd/nebulaio-cli/commands/client.go
  internal/cluster/placement_group_integration_test.go
  internal/tiering/cache.go
Due: go-fmt, go-mod-tidy

[Fix #132] Phase 2: Fix golangci-lint config schema for v2.7
  .golangci.yml
Due: none

[Fix #132] Phase 2: Fix nil cancel panics and contextcheck
  internal/cluster/placement_group.go
  internal/tiering/tiering_test.go
Due: go-fmt, go-mod-tidy

[Fix #132] Phase 2: Disable overly strict linters for existing codebase
  .golangci.yml
Due: none

[Fix #132] Phase 2: Disable wsl_v5 linter (955 whitespace violations)
  .golangci.yml
Due: none

[Fix #132] Phase 2: Disable style/preference linters (905 total violations)
  .golangci.yml
Due: none

[Fix #132] Phase 2: Disable remaining style/preference linters (152 violations)
  .golangci.yml
Due: none

[Fix #132] Phase 2: Fix final 5 lint violations
  internal/api/middleware/metrics.go
  internal/metadata/dragonboat_store.go
  internal/migration/s3_import.go
  internal/storage/fs/fs.go
Due: go-fmt, go-mod-tidy

[Fix] Fix code review recommendations
  .golangci.yml
  internal/api/s3/handler.go
  internal/replication/cross_region.go
Due: go-fmt, go-mod-tidy

[Fix] Disable gocognit and modernize linters
  .golangci.yml
Due: none

[Fix #127, #123] Security and race condition fixes
  .golangci.yml
  cmd/nebulaio-cli/commands/object.go
  internal/analytics/access_analytics.go
  internal/api/middleware/metrics.go
  internal/auth/ldap/client.go
  internal/auth/ldap/config.go
  internal/auth/oidc/config.go
  internal/auth/signature.go
  internal/bucket/service_test.go
  internal/catalog/catalog.go
  internal/encryption/key_rotation.go
  internal/events/queue.go
  internal/events/targets/aws.go
  internal/gpudirect/gpudirect_test.go
  internal/iceberg/catalog.go
  internal/lambda/object_lambda.go
  internal/lambda/url_validator.go
  internal/lambda/url_validator_test.go
  internal/metadata/dragonboat_fsm.go
  internal/nim/nim.go
  internal/nim/simulated.go
  internal/security/mtls.go
  internal/select/parquet.go
  internal/storage/fs/fs.go
  internal/storage/volume/directio_other.go
  internal/storage/volume/packed.go
  internal/storage/volume/volume.go
  internal/tenant/multitenancy.go
  internal/transport/rdma/verbs.go
Due: go-fmt, go-mod-tidy

[Fix #122-127] Fix godoclint violations for CI lint check
  internal/ai/prompt_object.go
  internal/audit/logger.go
Due: go-fmt, go-mod-tidy

[Fix #122-127] Fix all 50 godoclint violations across codebase
  internal/auth/password.go
  internal/catalog/catalog.go
  internal/dlp/dlp.go
  internal/dpu/bluefield.go
  internal/dpu/simulated.go
  internal/events/types.go
  internal/express/express.go
  internal/gpudirect/s3_integration.go
  internal/gpudirect/simulated.go
  internal/integration/features_test.go
  internal/kms/provider.go
  internal/mcp/server.go
  internal/mcp/server_test.go
  internal/nim/simulated.go
  internal/object/retention.go
  internal/object/service.go
  internal/security/mtls.go
  internal/security/secret_scanner.go
  internal/storage/erasure/encoder.go
  internal/storage/volume/block.go
  internal/storage/volume/errors.go
  internal/tiering/advanced_service.go
Due: go-fmt, go-mod-tidy

[Fix #122-127] Fix final 10 godoclint violations
  internal/security/security_test.go
  internal/security/tls_test.go
  internal/storage/volume/errors.go
  internal/tiering/s3_lifecycle.go
  internal/transport/rdma/transport.go
  internal/transport/rdma/verbs.go
Due: go-fmt, go-mod-tidy

[Fix #123] Fix webhook URL validation tests for CI
  .golangci.yml
  internal/lambda/url_validator_test.go
Due: go-fmt, go-mod-tidy

[Fix #122 #127] Fix CI linter and test failures
  .golangci.yml
  internal/lambda/url_validator_test.go
  internal/storage/fs/fs.go
Due: go-fmt, go-mod-tidy

[Fix] Disable wsl_v5 linter
  .golangci.yml
Due: none

[Fix] Correct multicast IP test expectation
  internal/lambda/url_validator_test.go
Due: go-fmt, go-mod-tidy

[Fix #125] Add Prometheus metrics for rate limiter
  .golangci.yml
  internal/api/middleware/ratelimit.go
  internal/metrics/metrics.go
Due: go-fmt, go-mod-tidy

[Fix #97] Add comprehensive presigned URL tests for S3 API
  internal/api/s3/handler_test.go
Due: go-fmt, go-mod-tidy

[Feature #91] Implement WASM runtime integration for S3 Object Lambda
  .golangci.yml
  go.mod
  go.sum
  internal/lambda/object_lambda.go
  internal/lambda/wasm_runtime.go
  internal/lambda/wasm_runtime_test.go
Due: go-fmt, go-mod-tidy

chore: Move wazero to direct dependency after go mod tidy
  go.mod
Due: none

[Fix #76] Add comprehensive FileUploader integration tests
  web/src/components/FileUploader.test.tsx
  web/src/components/FileUploader.tsx
  web/src/test/mocks/handlers.ts
Due: eslint, typescript-check

[Fix #70] Implement graceful shutdown for all services
  .golangci.yml
  internal/config/config.go
  internal/server/server.go
  internal/shutdown/coordinator.go
  internal/shutdown/metrics.go
Due: go-fmt, go-mod-tidy

[Fix #62] Audit and fix context.Background() usage
  .golangci.yml
  internal/api/admin/cluster.go
  internal/audit/enhanced.go
  internal/gpudirect/gpudirect.go
  internal/hardware/detector.go
  internal/metadata/dragonboat.go
  internal/metadata/dragonboat_test.go
  internal/replication/queue.go
  internal/telemetry/tracing.go
  internal/tenant/multitenancy.go
  internal/tiering/access_tracker.go
  internal/tiering/cache.go
  internal/tiering/policy_engine.go
  internal/tiering/policy_executor.go
  internal/tiering/policy_store.go
  internal/tiering/service.go
Due: go-fmt, go-mod-tidy

[Fix #76] Fix lint errors in FileUploader tests
  web/src/components/FileUploader.test.tsx
Due: eslint, typescript-check

Address PR review feedback for rate limit metrics
  internal/api/middleware/ratelimit.go
  internal/api/middleware/ratelimit_test.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: go-fmt, go-mod-tidy

Address PR review feedback: fix goroutine leak and add tests
  internal/shutdown/coordinator.go
  internal/shutdown/coordinator_test.go
Due: go-fmt, go-mod-tidy

[Fix #91] Address PR review feedback for WASM runtime
  internal/lambda/object_lambda.go
  internal/lambda/wasm_runtime.go
  internal/lambda/wasm_runtime_test.go
Due: go-fmt, go-mod-tidy
