Repository piwi3910/nebulaio: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, eslint, typescript-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (web)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type check (web)
  entry: bash -c 'cd web && npm run type-check'
  language: system
  pass_filenames: false

[Fix] Apply batch 28 modernize linter fixes
  internal/api/admin/aiml_handler.go
Due: go-fmt, go-mod-tidy

[Fix #97] Skip router-based tests, keep only minimal diagnostic test
  internal/api/s3/handler_test.go
Due: go-fmt, go-mod-tidy

[Fix] Apply batch 29 modernize linter fixes
  internal/api/admin/cluster.go
  internal/api/admin/handler.go
Due: go-fmt, go-mod-tidy

[Fix] Apply batch 30 modernize linter fixes
  internal/api/admin/tiering_handler.go
Due: go-fmt, go-mod-tidy

[Fix #97] Enable only TestPresignedGetObject to isolate failure
  internal/api/s3/handler_test.go
Due: go-fmt, go-mod-tidy

[Fix] Apply batch 31 modernize linter fixes
  internal/api/admin/tiering_handler_test.go
Due: go-fmt, go-mod-tidy

[Fix] Replace all remaining interface{} with any across codebase
  internal/api/middleware/ratelimit.go
  internal/api/s3/handler.go
  internal/auth/oidc/oidc_test.go
  internal/auth/oidc/provider.go
  internal/auth/service.go
  internal/benchmark/benchmark_test.go
  internal/dpu/bluefield.go
  internal/dpu/bluefield_test.go
  internal/dpu/simulated.go
  internal/events/events_test.go
  internal/events/targets/amqp.go
  internal/events/targets/aws.go
  internal/events/targets/kafka.go
  internal/events/targets/nats.go
  internal/events/targets/redis.go
  internal/events/targets/webhook.go
  internal/express/express.go
  internal/gpudirect/gpudirect.go
  internal/gpudirect/s3_integration.go
  internal/gpudirect/simulated.go
  internal/hardware/detector.go
  internal/iam/policy.go
  internal/iam/policy_test.go
  internal/iceberg/catalog.go
  internal/integration/suite_test.go
  internal/lambda/object_lambda.go
  internal/lambda/object_lambda_test.go
  internal/mcp/server.go
  internal/mcp/server_test.go
  internal/metadata/dragonboat_fsm.go
  internal/metrics/metrics.go
  internal/nim/nim.go
  internal/nim/simulated.go
  internal/s3select/select.go
  internal/s3select/select_test.go
  internal/security/security_test.go
  internal/storage/volume/directio.go
  internal/testutil/mocks/services.go
  internal/transport/rdma/transport.go
  internal/transport/rdma/verbs.go
Due: go-fmt, go-mod-tidy

[Fix #97] Re-enable all presigned URL tests
  internal/api/s3/handler_test.go
Due: go-fmt, go-mod-tidy

[Fix] Convert remaining for range b.N to b.Loop() in benchmarks
  internal/lambda/object_lambda_test.go
  internal/storage/compression/compression_test.go
Due: go-fmt, go-mod-tidy

[Fix #97] Binary search - skip second half of tests
  internal/api/s3/handler_test.go
Due: go-fmt, go-mod-tidy

[Fix #97] Binary search - enable 3 more tests
  internal/api/s3/handler_test.go
Due: go-fmt, go-mod-tidy

[Fix #97] Binary search - test DisabledAccessKey only
  internal/api/s3/handler_test.go
Due: go-fmt, go-mod-tidy

[Fix #97] Binary search - test SpecialCharactersInKey
  internal/api/s3/handler_test.go
Due: go-fmt, go-mod-tidy

[Fix #97] Fix AWS URI encoding for special characters in object keys
  internal/api/s3/handler_test.go
  internal/auth/presigned.go
Due: go-fmt, go-mod-tidy

[Fix] Convert remaining for i := range b.N to b.Loop() in benchmarks
  internal/metadata/dragonboat_test.go
  internal/metrics/metrics_test.go
  internal/storage/volume/directio_test.go
  internal/storage/volume/rawdevice_test.go
  internal/storage/volume/volume_test.go
Due: go-fmt, go-mod-tidy

[Fix #97] Enable all presigned URL tests
  internal/api/s3/handler_test.go
Due: go-fmt, go-mod-tidy

[Fix] Disable modernize linter to investigate remaining lint error
  .golangci.yml
Due: none

[Fix] Add verbose flag to golangci-lint for better error diagnosis
  .github/workflows/ci.yaml
Due: none

[Fix] Use absolute path mode for golangci-lint annotations
  .github/workflows/ci.yaml
Due: none

[Fix] Revert to simpler golangci-lint args
  .github/workflows/ci.yaml
Due: none

[Fix #97] Add debug logging and unit test for special characters
  internal/api/s3/handler_test.go
  internal/auth/presigned_test.go
Due: go-fmt, go-mod-tidy

[Fix] Use direct golangci-lint command instead of action
  .github/workflows/ci.yaml
Due: none

[Fix #79] Add missing test assertions and fix crypto/rand handling
  internal/api/middleware/ratelimit_security_test.go
  internal/auth/security_test.go
Due: go-fmt, go-mod-tidy

[Fix #91] Address PR review: unused param and missing config
  docker-compose.yml
  internal/lambda/wasm_runtime.go
Due: go-fmt, go-mod-tidy

[Fix] Address PR review feedback and re-enable modernize linter
  .github/workflows/ci.yaml
  .golangci.yml
  internal/lambda/object_lambda_test.go
Due: go-fmt, go-mod-tidy

[Fix #97] Fix lint error - use Go 1.22+ integer range syntax
  internal/auth/presigned.go
  internal/auth/presigned_test.go
Due: go-fmt, go-mod-tidy

[Fix #59] Address PR review feedback
  internal/api/admin/openapi_handler.go
  internal/api/admin/openapi_handler_test.go
  web/src/pages/ApiExplorerPage.tsx
Due: go-fmt, go-mod-tidy, eslint, typescript-check

[Fix] Add colored output format for lint errors
  .github/workflows/ci.yaml
Due: none

[Fix #95] Address all PR review recommendations
  internal/lambda/object_lambda.go
  internal/lambda/object_lambda_test.go
  internal/metrics/metrics.go
Due: go-fmt, go-mod-tidy

[Fix] Remove invalid output format flag from golangci-lint
  .github/workflows/ci.yaml
Due: none

[Fix #97] Add more debug logging and use require.NoError
  internal/auth/presigned_test.go
Due: go-fmt, go-mod-tidy

[Fix] Disable modernize linter due to opaque error reporting
  .golangci.yml
Due: none

[Fix #79] Make cleanup test more robust for CI
  internal/api/middleware/ratelimit_security_test.go
Due: go-fmt, go-mod-tidy

[Fix #97] Skip handler test for special chars, keep unit test to isolate issue
  internal/api/s3/handler_test.go
Due: go-fmt, go-mod-tidy

[Fix] Use minimal linter config to diagnose issue
  .golangci.yml
Due: none

[Fix #91] Convert tests to testify and fix streaming log message
  internal/lambda/wasm_runtime.go
  internal/lambda/wasm_runtime_test.go
Due: go-fmt, go-mod-tidy

[Fix] Restore default:all with proper disable list for golangci-lint
  .golangci.yml
Due: none

[Fix] Add debug output step before strict lint to show actual errors
  .github/workflows/ci.yaml
Due: none

[Fix] Add verbose lint output to capture actual errors
  .github/workflows/ci.yaml
Due: none

[Fix #95] Add clarifying comment for decompression metrics parameters
  internal/lambda/object_lambda.go
Due: go-fmt, go-mod-tidy

Path conditions:
  go-fmt: any of: \.go$
  go-mod-tidy: any of: \.go$
  eslint: any of: ^web/.*\.(js|jsx|ts|tsx)$
  typescript-check: any of: ^web/.*\.(ts|tsx)$
