Repository piwi3910/nebulaio: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, eslint, typescript-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (web)
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type check (web)
  entry: bash -c 'cd web && npm run type-check'
  language: system
  pass_filenames: false

[Fix #97] Address PR review feedback for presigned URL tests
  internal/api/s3/handler_test.go
Due: go-fmt, go-mod-tidy

[Fix #70] Add shutdown configuration to deployment files
  deployments/helm/nebulaio/values.yaml
  deployments/kubernetes/base/configmap.yaml
  docker-compose.yml
Due: none

[Fix #62] Audit and fix context.Background() usage (#136)
  internal/api/admin/cluster.go
  internal/audit/enhanced.go
  internal/gpudirect/gpudirect.go
  internal/hardware/detector.go
  internal/metadata/dragonboat.go
  internal/metadata/dragonboat_test.go
  internal/replication/queue.go
  internal/telemetry/tracing.go
  internal/tenant/multitenancy.go
  internal/tiering/access_tracker.go
  internal/tiering/cache.go
  internal/tiering/policy_engine.go
  internal/tiering/policy_executor.go
  internal/tiering/policy_store.go
  internal/tiering/service.go
Due: go-fmt, go-mod-tidy

[Fix #76] Address PR review feedback for FileUploader tests
  web/src/components/FileUploader.test.tsx
Due: eslint, typescript-check

Fix plural-to-singular path normalization bug
  internal/api/middleware/ratelimit.go
Due: go-fmt, go-mod-tidy

[Fix #97] Fix GetObject signature in presigned URL tests
  internal/api/s3/handler_test.go
Due: go-fmt, go-mod-tidy

Fix godoclint: remove duplicate package comment from parquet.go
  internal/catalog/parquet.go
Due: go-fmt, go-mod-tidy

[Fix #90] Implement Parquet format support for S3 inventory reports
  go.mod
  go.sum
  internal/catalog/catalog.go
  internal/catalog/parquet.go
  internal/catalog/parquet_test.go
Due: go-fmt, go-mod-tidy

Address code review recommendations
  internal/catalog/parquet.go
Due: go-fmt, go-mod-tidy

[Fix #70] Address PR review feedback: documentation and code improvements
  docs/features/graceful-shutdown.md
  internal/server/server.go
  internal/shutdown/coordinator.go
Due: go-fmt, go-mod-tidy

fix: Remove duplicate package godoc to fix lint error
  internal/lambda/wasm_runtime.go
Due: go-fmt, go-mod-tidy

[Fix #70] Fix markdownlint error in graceful-shutdown.md
  docs/features/graceful-shutdown.md
Due: none

Add buffering explanation comment per code review
  internal/catalog/parquet.go
Due: go-fmt, go-mod-tidy

[Fix #76] Address additional PR review feedback
  web/src/components/FileUploader.test.tsx
  web/src/components/FileUploader.tsx
Due: eslint, typescript-check

Fix GitHub issue 70 and address PR checks (#138)
  deployments/helm/nebulaio/values.yaml
  deployments/kubernetes/base/configmap.yaml
  docker-compose.yml
  docs/features/graceful-shutdown.md
  internal/config/config.go
  internal/server/server.go
  internal/shutdown/coordinator.go
  internal/shutdown/coordinator_test.go
  internal/shutdown/metrics.go
Due: go-fmt, go-mod-tidy

Fix GitHub issue 125 and resolve PR checks (#146)
  internal/api/middleware/ratelimit.go
  internal/api/middleware/ratelimit_test.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Due: go-fmt, go-mod-tidy

Remove unused nolint directives in httputil/client.go
  internal/httputil/client.go
Due: go-fmt, go-mod-tidy

Address Claude Code Review feedback
  internal/events/targets/webhook.go
  internal/httputil/client.go
  internal/httputil/client_test.go
  internal/security/mtls.go
Due: go-fmt, go-mod-tidy

[Fix #68] Optimize HTTP client reuse with shared connection pooling
  internal/ai/prompt_object.go
  internal/audit/enhanced.go
  internal/httputil/client.go
  internal/lambda/object_lambda.go
  internal/migration/s3_import.go
  internal/nim/nim.go
  internal/replication/cross_region.go
  internal/telemetry/tracing.go
  internal/transport/rdma/client.go
Due: go-fmt, go-mod-tidy

Address blocking review feedback
  internal/httputil/client.go
  internal/replication/cross_region.go
Due: go-fmt, go-mod-tidy

Update docs: S3 inventory now supports Parquet format
  docs/api/s3-compatibility.md
Due: none

[Fix #97] Add empty line between embedded and regular struct fields
  internal/api/s3/handler_test.go
Due: go-fmt, go-mod-tidy

[Fix #91] Add WASM runtime deployment configurations
  deployments/helm/nebulaio/values.yaml
  deployments/kubernetes/base/configmap.yaml
  docker-compose.yml
Due: none

Add HTTP client pooling architecture documentation
  docs/architecture/http-client-pooling.md
  internal/httputil/client.go
Due: go-fmt, go-mod-tidy

Fix GitHub issue 68 and resolve PR checks (#137)
  docs/architecture/http-client-pooling.md
  internal/ai/prompt_object.go
  internal/audit/enhanced.go
  internal/events/targets/webhook.go
  internal/httputil/client.go
  internal/httputil/client_test.go
  internal/lambda/object_lambda.go
  internal/migration/s3_import.go
  internal/nim/nim.go
  internal/replication/cross_region.go
  internal/security/mtls.go
  internal/telemetry/tracing.go
  internal/transport/rdma/client.go
Due: go-fmt, go-mod-tidy

Fix GitHub issue 76 and resolve PR checks (#139)
  web/src/components/FileUploader.test.tsx
  web/src/components/FileUploader.tsx
  web/src/test/mocks/handlers.ts
Due: eslint, typescript-check

[Fix #97] Add proper reader cleanup in presigned URL tests
  internal/api/s3/handler_test.go
Due: go-fmt, go-mod-tidy

[Fix #79] Add comprehensive security and XSS prevention tests
  internal/api/middleware/ratelimit_security_test.go
  internal/auth/security_test.go
  internal/bucket/validation_test.go
  internal/iam/security_test.go
  internal/security/injection_test.go
  web/src/components/PolicyEditor.security.test.tsx
Due: go-fmt, go-mod-tidy, eslint, typescript-check

[Fix #79] Address PR review feedback: fix linter violations
  internal/api/middleware/ratelimit_security_test.go
  internal/auth/security_test.go
  internal/bucket/validation_test.go
  internal/iam/security_test.go
  internal/security/injection_test.go
Due: go-fmt, go-mod-tidy

[Fix #79] Add missing matchesAction and matchesResource helpers
  internal/iam/security_test.go
Due: go-fmt, go-mod-tidy

[Fix #79] Fix remaining lint issues
  internal/api/middleware/ratelimit_security_test.go
  internal/auth/security_test.go
  internal/bucket/validation_test.go
  internal/iam/security_test.go
Due: go-fmt, go-mod-tidy

[Fix #79] Fix type error in IAM security tests
  internal/iam/security_test.go
Due: go-fmt, go-mod-tidy

[Fix #79] Fix additional lint issues
  internal/api/middleware/ratelimit_security_test.go
  internal/auth/security_test.go
  internal/security/injection_test.go
Due: go-fmt, go-mod-tidy

[Fix #79] Fix critical bugs in security tests
  internal/api/middleware/ratelimit_security_test.go
  internal/auth/security_test.go
Due: go-fmt, go-mod-tidy

Remove unsupported 'modernize' linter from golangci-lint config
  .golangci.yml
Due: none

[Fix #95] Address PR review feedback for compression metrics
  internal/lambda/object_lambda.go
  internal/lambda/object_lambda_test.go
Due: go-fmt, go-mod-tidy

[Fix #95] Add observability metrics for Lambda compression operations
  internal/lambda/object_lambda.go
  internal/lambda/object_lambda_test.go
Due: go-fmt, go-mod-tidy

[Fix #79] Fix remaining string(rune) bugs in security tests
  internal/bucket/validation_test.go
  internal/iam/security_test.go
Due: go-fmt, go-mod-tidy

[Fix #91] Address PR review: cache race condition, eviction, and size validation
  internal/lambda/wasm_runtime.go
Due: go-fmt, go-mod-tidy

Re-add modernize linter to disable list for CI compatibility
  .golangci.yml
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-mod-tidy: any of: \.go$
  eslint: any of: ^web/.*\.(js|jsx|ts|tsx)$
  typescript-check: any of: ^web/.*\.(ts|tsx)$
